<div class="row" style="margin-bottom: 200px;">
  <div class="col-md-4">
    <div class="col-md-12">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Filter Books</strong></li>
          <li class="list-group-item">Comic Book or Graphic Novel</li>
          <li class="list-group-item">Detective and Mystery</li>
          <li class="list-group-item">Fantasy</li>
          <li class="list-group-item">Historical Fiction</li>
          <li class="list-group-item">Horror</li>
          <li class="list-group-item">Action and Adventure</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6" style="margin-bottom: 15px;">
        <div class="card">
          <img
            src="/book2.jpg"
            class="card-img-top"
            style="max-height: 400px; height: 230px;"
            alt="..."
          />
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">Romantic</h5>
            <a href="#" class="btn btn-primary">Buy</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" >
          <img
            src="/book3.jpg"
            class="card-img-top"
            style="max-height: 400px; height: 230px;"
            alt="..."
          />
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">Romantic</h5>
            <a href="#" class="btn btn-primary">Buy</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img
            src="/book4.jpg"
            class="card-img-top"
            style="max-height: 400px; height: 230px;"
            alt="..."
          />
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">Romantic</h5>
            <a href="#" class="btn btn-primary">Buy</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
