
    <div class="card text-center" style="margin-top: 100px; margin-bottom: 100px;">
      <div class="card-header">
        Check out
      </div>
      <div class="card-body">
        <h5 class="card-title">Thank you very much for shopping with Us!</h5>
        <a href="/book/products" class="btn btn-primary">Continue Shopping</a>
      </div>
      
    </div>
    